@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
}

.header, .footer, .hero {
    background-color: #1F2937;
}

.header, .footer {
    padding: 16px;
}

.footer {
    display: flex;
    color: #E5E7EB;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.quote {
    background-color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 360px;
}

.header .left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header .right {
    font-size: 14px;
}


.hero {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 100px;
}

.hero .main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    line-height: 45px;
}

.hero .secondary {
    color: #E5E7EB;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 6px 32px;
    margin-top: 10px;
}

.hero .left {
    width: 400px;
}
.hero .right {
    background-color: #6d747d;
    width: 400px;
}

.information .title {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.information .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-bottom: 80px;
}

.container .cell {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 8px;
}

.cell img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.cell .text {
    text-align: center;
    color: #1F2937;
}

.quote {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote .text {
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    width: 680px;
    justify-content: center;
}

.quote .citation {
    font-size: 24px;
    font-weight: 900;
    justify-content: flex-end;
    width: 680px;
    text-align: right;
}

.action {
    padding: 80px;
    display: flex;
    justify-content: center;
}

.action .cell {
    background-color: #3882F6;
    border-radius: 6px;
    padding: 25px 50px;
    width: 720px;
    display: flex;
    justify-content: space-between;
}

.action .main {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.action .secondary {
    color: #E5E7EB;
    font-size: 14px;
    font-weight: 900;
}

.action button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    padding: 6px 32px;
    margin-top: 10px;
}